<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="15">

    <!-- Config for each type of logging you can use -->
    <Appenders>
        <!-- Standard out to terminal -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="terminal msg %d{HH:mm:ss} [%t] %-5p %F:%L : %m%n"/>
        </Console>

        <!-- File out -->
        <File name="FILEOUT" filename="logs/app.log" append="true">
            <PatternLayout pattern="logFile msg %d{HH:mm:ss.SSS} %-5p %C{2} : %m%n"/>
        </File>
    </Appenders>

    <!-- Specifiy which appender to use -->
    <Loggers>
        <Root level="debug">
            <!-- Comment out what you will not be using -->
            <AppenderRef ref="STDOUT"/> <!-- Log to terminal -->
<!--            <AppenderRef ref="FILEOUT"/> &lt;!&ndash; Log to log file &ndash;&gt;-->
        </Root>
    </Loggers>

</Configuration>